@font-face {
  font-family: "Overpass SemiBold";
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  src: local("Overpass SemiBold"), local("Overpass-SemiBold"),
    url(../fonts/OverpassSemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Bold";
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
    url(../fonts/SourceSansProBold.woff2) format("woff2");
}

@font-face {
  font-family: "Source Sans Pro Regular";
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url(../fonts/SourceSansProRegular.woff2) format("woff2");
}
