/*------Fonts------*/
$ff-title: "Overpass SemiBold", sans-serif;
$ff-text: "Source Sans Pro Regular", sans-serif;
$ff-text-bold: "Source Sans Pro Bold", sans-serif;

/*------Colors------*/
$text_c: #000;
$bg_c: #fff;
$primary_c: rgb(239, 108, 0);
$secondary_c: rgb(40, 53, 147);
$error_c: #ff4444;
$form-grey_c: #b7b7b7;
