.about-me {
  padding-top: 100px;

  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    padding-top: 80px;
  }

  @media only screen and (max-width: 767px) {
    padding-top: 45px;
  }

  .heading-2 {
    @media only screen and (max-width: 1024px) and (min-width: 769px) {
      margin-bottom: 15px;
    }
  }

  .heading-3 {
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      margin-bottom: 9px;
    }
    @media only screen and (max-width: 767px) {
      display: block;
      width: 80%;
      margin: 30px auto 10px;
      line-height: 1.3;
    }
  }

  .flex-cont {
    margin-top: 45px;
    margin-left: 35px;
    @media only screen and (max-width: 1440px) and (min-width: 1024px) {
      margin-top: 20px;
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      margin: 40px 10px;
    }
    @media only screen and (max-width: 767px) {
      margin: 0;
      flex-direction: column;
    }
  }

  .about-img {
    @media only screen and (max-width: 1023px) {
      width: 220px;
      align-self: flex-start;
    }
    @media only screen and (max-width: 767px) {
      align-self: center;
    }
  }

  .about-info {
    margin-left: 65px;
    align-self: flex-start;
    @media only screen and (max-width: 1440px) and (min-width: 1024px) {
      margin-left: 25px;
      align-self: center;
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      margin: -5px 0 -5px 30px;
    }
    @media only screen and (max-width: 767px) {
      align-self: center;
      margin: 0;
      text-align: center;
    }
  }

  .par-2 {
    margin: 0 0 20px;
  }

  .btn {
    margin-top: -12px;
    @media only screen and (max-width: 1440px) and (min-width: 1024px) {
      margin-top: -5px;
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      margin-top: -4px;
    }
    @media only screen and (max-width: 767px) {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}
