.banner {
  padding-top: 64px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./../imgs/bg-1_2k.jpg");
  background-image: -webkit-image-set(
    url("./../imgs/bg-1_2k.jpg") 1x,
    url("./../imgs/bg-1_2k_retina.jpg") 2x
  );
  background-image: image-set(
    url("./../imgs/bg-1_2k.jpg") 1x,
    url("./../imgs/bg-1_2k_retina.jpg") 2x
  );

  @media only screen and (max-width: 1440px) and (min-width: 1024px) {
    background-image: url("./../imgs/bg-1_desktop.jpg");
    background-image: -webkit-image-set(
      url("./../imgs/bg-1_desktop.jpg") 1x,
      url("./../imgs/bg-1_retina.jpg") 2x
    );
    background-image: image-set(
      url("./../imgs/bg-1_desktop.jpg") 1x,
      url("./../imgs/bg-1_retina.jpg") 2x
    );
  }
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    background-image: url("./../imgs/bg-1_tablet.jpg");
    background-image: -webkit-image-set(
      url("./../imgs/bg-1_tablet.jpg") 1x,
      url("./../imgs/bg-1_tablet_retina.jpg") 2x
    );
    background-image: image-set(
      url("./../imgs/bg-1_tablet.jpg") 1x,
      url("./../imgs/bg-1_tablet_retina.jpg") 2x
    );
  }
  @media only screen and (max-width: 767px) {
    background-image: url("./../imgs/bg-1_mobile.jpg");
    background-image: -webkit-image-set(
      url("./../imgs/bg-1_mobile.jpg") 1x,
      url("./../imgs/bg-1_mobile_retina.jpg") 2x
    );
    background-image: image-set(
      url("./../imgs/bg-1_mobile.jpg") 1x,
      url("./../imgs/bg-1_mobile_retina.jpg") 2x
    );
  }

  .container {
    padding: 132px 15px 100px;
    color: $bg_c;

    @media only screen and (max-width: 1440px) and (min-width: 1024px) {
      padding: 132px 45px 100px;
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      padding: 112px 24px 100px;
    }
    @media only screen and (max-width: 767px) {
      padding: 64px 15px 50px;
      text-align: center;
    }
  }

  .heading-1 {
    max-width: 458px;
    margin-bottom: 20px;

    @media only screen and (max-width: 767px) {
      margin: 0 auto 8px;
    }
  }

  .par-1 {
    .banner-text-top {
      margin: 0;
      max-width: 458px;
      @media only screen and (max-width: 1440px) {
        display: inline;
      }
    }

    .banner-text-bottom {
      margin: 0;
      max-width: 555px;
      @media only screen and (max-width: 1440px) {
        display: inline;
      }
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    @media only screen and (max-width: 1440px) and (min-width: 1024px) {
      max-width: 450px;
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      font-size: 18px;
      line-height: 1.35;
      max-width: 405px;
    }
    @media only screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 1.4;
    }
  }

  .btn {
    margin-top: 35px;
    margin-bottom: 40px;
    @media only screen and (max-width: 1440px) and (min-width: 1024px) {
      margin-bottom: 60px;
    }
    @media only screen and (max-width: 1023px) {
      margin-bottom: 20px;
    }
    @media only screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
