.line-menu {
  border: none;
  background-color: $bg_c;
  margin-top: 5px;
  margin-right: -5px;

  &:hover * {
    fill: lighten($secondary_c, 10%);
  }

  &__hidden {
    display: none;

    @media only screen and (max-width: 1023px) {
      display: block;
    }
  }
}
