.modal-success {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 20;

  &__main {
    position: absolute;
    display: block;
    width: 290px;
    height: 180px;
    top: 30%;
    left: calc(50% - 145px);
    padding: 25px;
    background-color: $bg_c;

    .heading-4 {
      margin: 0;
    }

    .btn {
      position: absolute;
      width: 30px;
      right: 25px;
      bottom: 25px;
    }
  }

  &__aside {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
