.registration {
  ::-webkit-file-upload-button {
    cursor: pointer;
  }

  input {
    border: none;
    width: 100%;
    box-sizing: border-box;
    color: black;

    &:focus {
      outline: none;
      &::placeholder {
        opacity: 0.5;
      }
    }
  }

  .container {
    @media only screen and (max-width: 1023px) and (max-width: 768px) {
      padding: 0 9px;
    }

    @media only screen and (max-width: 1440px) and (min-width: 1024px) {
      padding: 0 47px;
    }
  }

  .flex-cont {
    width: 100%;
    flex-wrap: wrap;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  .heading-2 {
    margin-bottom: 0;
  }

  .heading-5 {
    margin: 10px 0 52px;
    @media only screen and (max-width: 1023px) and (max-width: 768px) {
      width: 50%;
      margin: 20px auto 46px;
      line-height: 1.2;
    }
    @media only screen and (max-width: 767px) {
      width: 90%;
      margin: 10px auto 24px;
      line-height: 1.4;
    }
  }

  fieldset {
    box-sizing: border-box;
    height: 64px;
    margin: 0;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid $form-grey_c;
  }

  legend {
    font-size: 12px;
    padding: 0 5px;
    margin-left: -3px;
  }

  .field {
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0 15px;
    border-radius: 4px;
    color: $form-grey_c;

    @media only screen and (min-width: 1024px) {
      &:first-child {
        margin-left: 0px;
      }
      &:nth-of-type(3) {
        margin-right: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }

    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      &:first-child {
        margin-left: 15px;
      }
      &:nth-of-type(3) {
        margin-right: 15px;
      }
      &:last-child {
        margin-right: 15px;
      }
    }

    @media only screen and (max-width: 767px) {
      width: 100%;
      margin: 0 0 8px;
    }

    &__file {
      width: calc(50% - 15px);
      height: 56px;
      margin-top: 21px;
      border: 1px solid $form-grey_c;
      position: relative;
      cursor: pointer;

      @media only screen and (max-width: 1023px) and (min-width: 768px) {
        width: calc(50% - 30px);
      }

      @media only screen and (max-width: 767px) {
        width: 100%;
        margin: 27px 0 8px;
      }

      &_placeholder {
        display: inline-block;
        width: calc(100% - 145px);
        margin-left: 15px;
        @media only screen and (max-width: 767px) {
          width: calc(100% - 71px);
          vertical-align: middle;
        }
      }

      &_value {
        color: black;
      }
    }

    &__select {
      width: calc(50% - 15px);
      height: 56px;
      margin: 21px 15px 0 0;

      @media only screen and (max-width: 1023px) and (min-width: 768px) {
        width: calc(50% - 30px);
        margin-left: 15px;
      }

      @media only screen and (max-width: 767px) {
        width: 100%;
        margin: 8px 0;
      }
    }
  }

  .btn__sec {
    display: inline-block;
    box-sizing: border-box;
    width: 130px;
    height: 56px;
    transform: translate(1px, -1px);
    line-height: 50px;
    text-align: center;
    border-radius: 0 4px 4px 0;

    @media only screen and (max-width: 767px) {
      width: 56px;
      font-size: 0;
      background: url(../../imgs/icons/upload.svg) no-repeat center;
    }
  }

  .btn__dis,
  .btn__prim {
    margin: 58px auto 150px;
    @media only screen and (max-width: 1440px) and (max-width: 1024px) {
      margin-bottom: 140px;
    }
    @media only screen and (max-width: 1023px) and (max-width: 768px) {
      margin-bottom: 120px;
    }
    @media only screen and (max-width: 767px) {
      margin-bottom: 68px;
    }
  }

  .hiddenInput {
    position: absolute;
    right: 0;
    height: 0;
    opacity: 0;
    border: 1px solid red;
    cursor: pointer;
  }

  .assistive {
    margin-left: 15px;
    font-size: 12px;
    line-height: 1.6;
    color: $form-grey_c;
  }

  .error {
    color: $error_c;
    border-color: $error_c;
  }

  .border-bold {
    border-width: 2px;
  }

  .select-arrow {
    margin-right: 15px;
  }

  /*==========custom select===============*/
  // .select {
  //   position: relative;
  //   height: 100%;
  //   box-sizing: border-box;
  //   border-radius: 4px;
  //   border: 1px solid $form-grey_c;

  //   .toggle {
  //     position: absolute;
  //     z-index: 4;
  //     right: 1.5em;
  //     top: 40%;
  //     right: 2%;
  //     @media only screen and (max-width: 1440px) {
  //       right: 5%;
  //     }
  //   }
  //   .title,
  //   .placeholder {
  //     position: relative;
  //     display: block;
  //     box-sizing: border-box;
  //     width: 100%;
  //     height: 100%;
  //     padding: 0 15px;
  //     line-height: 50px;
  //     background: $bg_c;
  //     cursor: pointer;
  //   }

  //   & > input {
  //     position: absolute;
  //     left: 0px;
  //     top: 0px;
  //     z-index: 2;
  //     width: 100%;
  //     height: 100%;
  //     display: block;
  //     opacity: 0;
  //     cursor: pointer;

  //     &:checked {
  //       z-index: 2;
  //       ~ .toggle.icon-arrow-down {
  //         display: none;
  //       }

  //       label.option .title {
  //         display: none !important;
  //       }

  //       ~ label.option {
  //         box-shadow: 0 5px 10px 5px rgba(221, 221, 221, 1);
  //       }

  //       ~ span.placeholder {
  //         display: none;
  //       }
  //     }

  //     &:not(:checked) {
  //       ~ label.option input:not(:checked) ~ .title {
  //         display: none !important;
  //       }

  //       ~ .toggle.icon-arrow-down {
  //         display: block;
  //       }
  //     }
  //   }

  //   & > span.placeholder {
  //     position: relative;
  //     box-sizing: border-box;
  //     z-index: 0;
  //     display: inline-block;
  //     width: 100%;
  //     border-top: 0px;
  //   }

  //   label.option {
  //     display: block;
  //     overflow: hidden;
  //     z-index: 1;
  //     width: 100%;

  //     span.title {
  //       position: relative;
  //       z-index: 2;
  //       transition: background 0.15s ease-out;

  //       &:hover {
  //         background: lighten($primary_c, 45%);
  //       }
  //     }

  //     input {
  //       display: none;

  //       &:checked ~ span.title {
  //         position: absolute;
  //         display: block;
  //         width: 100%;
  //         z-index: 1;
  //         top: 0px;
  //         background: #fff;
  //       }
  //     }
  //   }
  // }

  /* <div id="form_select" className="field__select">
                  <div className="select">
                    <input
                      type="radio"
                      name="option"
                    />
                    <ArrowDown className="toggle icon-arrow-down" />
                    <span className="placeholder">Select your position</span>
                    {positions}
                  </div>
                  <div
                    className={
                      this.props.position_error
                        ? "assistive error"
                        : "assistive error visually-hidden"
                    }
                  >
                    error
                  </div>
                </div> */
}
