.users {
  margin-top: 135px;
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    margin-top: 115px;
  }
  @media only screen and (max-width: 767px) {
    margin-top: 65px;
  }

  .flex-cont {
    flex-wrap: wrap;
    margin-top: 45px;
    justify-content: space-between;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      margin-top: 30px;
    }
    @media only screen and (max-width: 1440px) and (min-width: 1024px) {
      padding: 0 15px;
    }
  }

  .user {
    width: calc((100% / 3) - 20px);
    align-self: flex-start;
    margin: 0 0 65px;

    @media only screen and (max-width: 1440px) and (min-width: 1024px) {
      width: calc((100% / 3) - 40px);
    }

    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      width: calc((100% / 3) - 30px);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 42px;
    }

    @media only screen and (max-width: 767px) {
      display: block;
      width: 100%;
      margin: 0 0 35px;
    }

    &__name {
      margin-bottom: 8px;
    }

    &__text {
      max-width: calc(100% - 71px - 9px);
      display: inline-block;
      margin-left: 9px;
      @media only screen and (max-width: 1023px) and (min-width: 768px) {
        display: block;
        max-width: calc(100%);
        text-align: center;
        margin-left: 0;
      }
      @media only screen and (max-width: 767px) {
        display: block;
        width: 100%;
        min-width: 290px;
        margin: 0 auto;
        text-align: center;
      }
    }

    &__img {
      width: 70px;
      height: 70px;
      margin-top: -5px;
      object-fit: cover;
      float: left;
      border-radius: 35px;
      @media only screen and (max-width: 1023px) {
        float: none;
      }
      @media only screen and (max-width: 767px) {
        display: block;
        margin: 0 auto;
      }
    }

    .par-3 {
      margin: 0;
      line-height: 1.3;
    }
  }

  .heading-2 {
    margin-bottom: 0;
  }

  .heading-5 {
    margin-top: 10px;
    margin-bottom: 60px;
    word-spacing: 2px;
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      margin-bottom: 0;
      word-spacing: 0;
    }
    @media only screen and (max-width: 767px) {
      margin: 10px auto;
      width: 60%;
    }
  }

  .heading-4 {
    width: 80%;
    margin-top: 20px;
    line-height: 1.2;

    @media only screen and (max-width: 1440px) {
      width: 100%;
    }

    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      margin-top: 10px;
      margin-bottom: 4px;
    }

    @media only screen and (max-width: 767px) {
      width: 80%;
      margin: 12px auto 3px;
    }
  }

  .btn {
    margin: -13px auto 122px;
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      margin: 20px auto 100px;
    }
    @media only screen and (max-width: 767px) {
      margin-bottom: 50px;
    }
  }

  .errors {
    text-align: center;
  }
}
